body {
    background-color: #bd8d0a;
    background-attachment: fixed;
    background-size: cover;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  background-color: #fff;
}

.about-button {
    font-weight: 600;
    font-size: medium;
    padding-bottom: 10px;
}

p {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
}

.noteDropDown {
    font-weight: 600;
    font-size: large;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}